<div dd class="dropdown-box"
     [ngClass]="componentClass"
     [closeInside]="closeInside"
     [attachToRoot]="attachToRoot">
    <div class="dropdown-box-toggle">
        <a class="dropdown-box-toggle-link" dropdownToggle>
            <ng-content select="[toggle-content]"></ng-content>
        </a>
    </div>
    <div class="dropdown-box-content" [ngClass]="componentClass + '-content-wrapper'" *dropdownContent="let dummy; attachToRoot: true">
        <ng-content></ng-content>
    </div>
</div>
