.dropdown-box {
    --dd-border-size: var(--border-size, 1px);
    --dd-bg-color: var(--bg-color, #ffffff);
    --dd-border-color: var(--border-color, #ced4da);
    --dd-highlight-color: var(--highlight-color, var(--primary-color, #888888));
    --dd-highlight-text-color: var(--highlight-text-color, #ffffff);
    --dd-text-color: var(--text-color, #151515);
}

.dropdown-box {

    position: relative;
    z-index: 2;
    display: inline-block;
    width: calc(var(--list-width, 0));
    min-width: fit-content;

    a, span {
        white-space: nowrap;
    }

    &.table-sort-dropdown {
        display: none;
    }

    &.table-sort-dropdown .table-toggle:hover, li:hover, li.active {
        background-color: var(--dd-highlight-color);
        color: var(--dd-highlight-text-color);
    }
}

.dropdown-box.open .dropdown-box-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-box-toggle {
    min-width: fit-content;
    background: var(--dd-bg-color);
    color: var(--dd-text-color);
    cursor: pointer;
    box-shadow: 0 0 0 var(--dd-border-size) var(--dd-border-color);
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    user-select: none;
    font-weight: normal;
    font-size: var(--table-input-font-size, 15px);
    line-height: var(--table-input-line-height, 18px);
    outline: none;

    .toggle-placeholder, ::placeholder {
        color: #495057;
    }
}

.dropdown-box-content {

    position: relative;
    z-index: 1;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: var(--dd-border-size) solid var(--dd-border-color);
        z-index: 1;
        background: var(--dd-bg-color);
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        min-width: fit-content;
        transition: height 0.25s;
    }

    li {
        color: var(--dd-text-color);
        font-weight: normal;
        text-align: left;
        min-width: fit-content;
        cursor: pointer;
        padding: 6px 12px;
    }

    li:hover, li.active {
        background-color: var(--dd-highlight-color);
        color: var(--dd-highlight-text-color);
    }
}
