.dropdown-box {
    --dd-border-size: var(--border-size, 1px);
    --dd-border-radius: 5px;
    --dd-top-border-radius: var(--dd-border-radius) var(--dd-border-radius) 0 0;
    --dd-bottom-border-radius: 0 0 var(--dd-border-radius) var(--dd-border-radius);
    --dd-bg-color: var(--bg-color, #ffffff);
    --dd-border-color: var(--border-color, #ced4da);
    --dd-highlight-color: var(--highlight-color, var(--primary-color, #888888));
    --dd-highlight-text-color: var(--highlight-text-color, #ffffff);
    --dd-text-color: var(--text-color, #151515);

    --dd-arrow-size: var(--arrow-size, 6px);
    --dd-arrow-space: calc(var(--dd-arrow-size) * 0.5 + 1px);
    --dd-arrow-color: currentColor;
    --dd-arrow-rotation: 90;

    position: relative;
    z-index: 2;
    display: inline-block;
    width: var(--content-width, 0);
    min-width: fit-content;

    * {
        box-sizing: border-box;
    }

    a, span {
        white-space: nowrap;
    }

    &.table-sort-dropdown {
        display: none;
    }

    &.table-sort-dropdown .table-toggle:hover, li:hover, li.active {
        background-color: var(--dd-highlight-color);
        color: var(--dd-highlight-text-color);
    }
}

.dropdown-box.open {

    --dd-arrow-rotation: -90;

    .dropdown-box-toggle {
        border-radius: var(--dd-top-border-radius);
    }
}

.dropdown-box-toggle {
    min-width: fit-content;
    background: var(--dd-bg-color);
    color: var(--dd-text-color);
    cursor: pointer;
    border: var(--dd-border-size) solid var(--dd-border-color);
    border-radius: 5px;
    padding: 6px 12px;
    user-select: none;
    font-weight: normal;
    outline: none;

    .toggle-placeholder {
        color: #495057;
    }

    a.dropdown-box-toggle-link {
        margin-right: calc(2 * var(--dd-arrow-size));
        padding-right: 5px;
        min-width: fit-content;
        position: relative;
        display: block;
    }

    a.dropdown-box-toggle-link:after {
        content: '';
        position: absolute;
        left: calc(100% + var(--dd-arrow-size));
        top: calc(50% - var(--dd-arrow-size));
        border-top: var(--dd-arrow-size) solid transparent;
        border-bottom: var(--dd-arrow-size) solid transparent;
        border-left: var(--dd-arrow-size) solid var(--dd-arrow-color);
        transform: rotate(calc(var(--dd-arrow-rotation) * 1deg));
        transition: 0.2s ease;
    }
}

.dropdown-box-content {

    position: relative;
    z-index: 1;
    min-width: var(--toggle-width, 0);

    * {
        box-sizing: border-box;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: var(--dd-border-size) solid var(--dd-border-color);
        border-top-width: 0;
        z-index: 1;
        background: var(--dd-bg-color);
        border-radius: var(--dd-bottom-border-radius);
        overflow: hidden;
        min-width: fit-content;
    }

    li {
        color: var(--dd-text-color);
        font-weight: normal;
        text-align: left;
        min-width: fit-content;
        cursor: pointer;
        padding: 6px 12px;
        user-select: none;

        a {
            color: var(--dd-text-color);
            text-decoration: none;
        }
    }

    li:hover, li.active {
        background-color: var(--dd-highlight-color);
        color: var(--dd-highlight-text-color);

        a {
            color: var(--dd-highlight-text-color);
        }
    }
}

.dropdown-placement-top {
    &.open .dropdown-box-toggle {
        border-radius: var(--dd-bottom-border-radius);
    }
    .dropdown-box-content ul {
        border-top-width: var(--dd-border-size);
        border-bottom-width: 0;
        border-radius: var(--dd-top-border-radius);
    }
}
