<ng-template #defaultTemplate let-item="item">
    <div class="drop-list-item-label">
        {{ item | getValue:labelField }}
    </div>
</ng-template>
<div class="drop-list"
     #list
     (dragenter)="onDragEnter($event, list, this)"
     (dragleave)="onDragLeave($event, list)"
     (drop)="onDrop($event, list)">
    <ng-container *ngFor="let id of value; let ix = index">
        <div class="drop-list-item">
            <ng-template #noItemTemplate>
                <div class="drop-list-item-label just-id">
                    {{ id }}
                </div>
            </ng-template>
            <ng-container [ngTemplateOutlet]="itemTemplate || defaultTemplate"
                          [ngTemplateOutletContext]="{item: valueMap[id], id: id, remove: remove}"
                          *ngIf="valueMap[id]; else noItemTemplate"></ng-container>
            <div class="drop-list-item-delete" (click)="remove(ix)">x</div>
        </div>
    </ng-container>
</div>
