<ng-template #defaultTemplate let-item="item">
    <div class="drop-list-item-label">
        {{ item | getValue:labelField }}
    </div>
</ng-template>
<div class="drop-list"
     #list
     (dragenter)="onDragEnter($event, list, this)"
     (dragleave)="onDragLeave($event, list)"
     (drop)="onDrop($event, list)">
    <div class="drop-list-message"
         [ngClass]="{'has-value': value?.length}"
         [innerHTML]="message | translate | safe:'html'"
         *ngIf="message">
    </div>
    <ng-container *ngFor="let id of value; let ix = index">
        <div class="drop-list-item">
            <ng-template #noItemTemplate>
                <div class="drop-list-item-label just-id">
                    {{ id }}
                </div>
            </ng-template>
            <ng-container [ngTemplateOutlet]="itemTemplate || defaultTemplate"
                          [ngTemplateOutletContext]="{item: valueMap[id], id: id, remove: remove}"
                          *ngIf="valueMap[id]; else noItemTemplate"></ng-container>
            <a class="remove-item-btn" (click)="remove(ix)"></a>
        </div>
    </ng-container>
</div>
