<ng-template #defaultUploadBtn let-loading="loading">
    <a class="btn btn-primary" [ngClass]="{loading: loading}">
        {{ buttonText | translate }}
    </a>
</ng-template>
<ng-template #defaultDownloadBtn let-loading="loading">
    <a class="btn btn-primary" [ngClass]="{loading: loading}">
        {{ 'button.download' | translate }}
    </a>
</ng-template>
<ng-template #itemTemplate let-item="item" let-index="index">
    <div class="upload-item" [ngStyle]="isImage || (item | isType: 'file') ? {backgroundImage: getBgUrl(item)} : {}">
        <a class="remove-item-btn" (click)="remove(index)"></a>
    </div>
</ng-template>

<div class="upload">
    <div class="upload-input" [ngClass]="{'drop-allowed': dropAllowed}">
        <input type="file"
               #input
               [multiple]="multiple"
               [accept]="acceptAttr"
               (dragenter)="onDragEnter($event)"
               (dragleave)="onDrop()"
               (drop)="onDrop()"
               (click)="onInputClick($event)"
               (blur)="onTouched($event)"
               (change)="onInputChange($event)"/>
        <div class="upload-message"
             [ngClass]="{'has-value': value?.length}"
             [innerHTML]="message | translate | safe:'html'"
             *ngIf="message">
        </div>
        <div class="upload-container">

            <ng-container [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{item: value, index: 0}"
                          *ngIf="!multiple && value">
            </ng-container>
            <ng-container *ngIf="multiple">
                <ng-container [ngTemplateOutlet]="itemTemplate"
                              [ngTemplateOutletContext]="{item: image, index: ix}"
                              *ngFor="let image of value; let ix = index">
                </ng-container>
            </ng-container>

            <div class="upload-item"
                 [ngStyle]="!proc.preview ? {} : {backgroundImage: proc.preview}"
                 *ngFor="let proc of processing">
                <div class="upload-progress">
                    <div class="upload-progress-num">{{ proc.progress }}%</div>
                    <div class="upload-progress-bar" [ngStyle]="{width: proc.progress + '%'}">

                    </div>
                </div>
            </div>
        </div>
        <div class="upload-btn" (click)="input.click()">
            <ng-container [ngTemplateOutlet]="uploadButton || defaultUploadBtn"
                          [ngTemplateOutletContext]="{loading: !!processing, buttonText: buttonText}">
            </ng-container>
        </div>
    </div>
</div>
