<ng-template #itemBgTemplate let-bg="bg">
    @if (bg) {
        <div class="upload-item-bg" [ngStyle]="{backgroundImage: `url('${bg}')`}">
            <div>
                <img alt="item image" [src]="bg | safe: 'url'" />
            </div>
        </div>
    }
</ng-template>
<ng-template #itemTemplate let-item="item" let-index="index">
    <div class="upload-item">
        <ng-container [ngTemplateOutlet]="itemBgTemplate"
                      [ngTemplateOutletContext]="{bg: isImage || (item | isType: 'file') ? getUrl(item) : null}">
        </ng-container>
        @if (!disabled) {
            <close-btn class="remove-item-btn" (click)="removeItem(index)"></close-btn>
        }
<!--        <btn size="small" class="download-item-btn" icon="download"></btn>-->
    </div>
</ng-template>

<div class="file-upload" [ngClass]="{disabled: disabled}">
    <div class="upload-input" [ngClass]="{'drop-allowed': dropAllowed}">
        <input type="file"
               #input
               [disabled]="disabled"
               [multiple]="multiple"
               [accept]="acceptAttr"
               (dragenter)="onDragEnter($event)"
               (dragleave)="onDrop()"
               (drop)="onDrop()"
               (click)="onInputClick($event)"
               (blur)="onTouched($event)"
               (change)="onInputChange($event)"/>
        @if (message) {
            <div class="upload-message"
                 [ngClass]="{'has-value': $any(value)?.length}"
                 [innerHTML]="message | translate | safe:'html'">
            </div>
        }
        <div class="upload-container">

            <ng-container [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{item: value, index: 0}"
                          *ngIf="!multiple && value">
            </ng-container>
            <ng-container *ngIf="multiple">
                <ng-container [ngTemplateOutlet]="itemTemplate"
                              [ngTemplateOutletContext]="{item: item, index: ix}"
                              *ngFor="let item of $any(value); let ix = index">
                </ng-container>
            </ng-container>

            <div class="upload-item" *ngFor="let proc of processing">
                <ng-container [ngTemplateOutlet]="itemBgTemplate"
                              [ngTemplateOutletContext]="{bg: proc.preview}">
                </ng-container>
                <div class="upload-progress">
                    <div class="upload-progress-num">{{ proc.progress }}%</div>
                    <div class="upload-progress-bar" [ngStyle]="{width: proc.progress + '%'}">

                    </div>
                </div>
            </div>

        </div>
        @if (!disabled) {
            <btn class="upload-btn" #uploadBtn [label]="buttonText" (click)="input.click()"></btn>
        }
    </div>
</div>
