<div class="pg-menu" *ngIf="pagination.total > pagination.itemsPerPage">
    <ul class="pg-list">
        <li class="page-item" [ngClass]="{disabled: !hasPrev}" *ngIf="boundaryLinks">
            <a class="page-link boundary-link previous" (click)="paginate(1)"></a>
        </li>
        <li class="page-item" [ngClass]="{disabled: !hasPrev}" *ngIf="directionLinks">
            <a class="page-link direction-link previous" (click)="paginate(pagination.page - 1)"></a>
        </li>
        <li class="page-item" [ngClass]="{active: pagination.page == page}" *ngFor="let page of pages">
            <a class="page-link" [ngClass]="{active: pagination.page == page}" (click)="paginate(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: !hasNext}" *ngIf="directionLinks">
            <a class="page-link direction-link" (click)="paginate(pagination.page + 1)"></a>
        </li>
        <li class="page-item" [ngClass]="{disabled: !hasNext}" *ngIf="boundaryLinks">
            <a class="page-link boundary-link" (click)="paginate(pagination.maxPage)"></a>
        </li>
    </ul>
</div>
