.calendar-container {

    --calendar-color: var(--primary-color, var(--bs-primary, var(--mat-sys-primary, #666666)));
    --calendar-secondary-color: #686868;
    --calendar-padding: 4px;
    --calendar-cell-padding: 3px;
    --calendar-num-size: 30px;
    --calendar-num-radius: calc(var(--calendar-num-size) / 2 + var(--calendar-cell-padding));

    * {
        box-sizing: border-box;
    }

    margin-bottom: 5px;
    border: 1px solid #e0e0e0;
    padding: var(--calendar-padding);
    user-select: none;
    background: #fff;

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--calendar-color);
        color: white;
        padding: var(--calendar-padding);
        border-radius: 3px;
        font-weight: bold;
    }

    .calendar-grid {
        display: grid;
        gap: 5px 0;
        grid-template-columns: repeat(8, 1fr);
        text-align: center;
    }

    .days-header {
        margin-top: 12px;
        font-weight: 500;
        color: #757575;
        font-size: 14px;
    }

    .day-label {
        padding: 8px 0;
    }

    .days-grid {
        margin-top: 8px;
    }

    .calendar-cell {
        position: relative;
        padding: var(--calendar-cell-padding);
        font-size: 14px;
        color: #333;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.week-number-cell {
            color: var(--calendar-color);
            font-weight: bold;
            cursor: default;
            pointer-events: none;
        }
    }

    .calendar-cell.filler {
        color: #666;
        background-color: #f6f6f6;
    }

    .calendar-cell.filler.filler-start {
        border-top-left-radius: var(--calendar-num-radius);
        border-bottom-left-radius: var(--calendar-num-radius);
    }

    .calendar-cell.filler.filler-end {
        border-top-right-radius: var(--calendar-num-radius);
        border-bottom-right-radius: var(--calendar-num-radius);
    }

    .calendar-cell.in-range::before {
        opacity: 0.5;
        inset: 0;
        content: " ";
        position: absolute;
        background: var(--calendar-color);
    }

    .calendar-cell.in-range.range-start::before {
        border-top-left-radius: var(--calendar-num-radius);
        border-bottom-left-radius: var(--calendar-num-radius);
    }

    .calendar-cell.in-range.range-end::before {
        border-top-right-radius: var(--calendar-num-radius);
        border-bottom-right-radius: var(--calendar-num-radius);
    }

    .calendar-cell.disabled {
        color: #7e7e7e;
        opacity: 0.75;
        cursor: default;
    }

    .cell-number {
        position: relative;
        border-radius: 50%;
        width: var(--calendar-num-size);
        height: var(--calendar-num-size);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar-cell.active .cell-number {
        background-color: var(--calendar-color);
        color: white;
    }
}
