<div class="calendar-container">
    <div class="calendar-header">
        <div class="prev">
            @if (canGoPrev()) {
                <btn (click)="prevMonth()" icon="chevron-left"></btn>
            }
        </div>
        <div class="header-label">
            {{ "month." + months[currentMonth()] | translate }} {{ currentYear() }}
        </div>
        <div class="next">
            @if (canGoNext()) {
                <btn (click)="nextMonth()" icon="chevron-right"></btn>
            }
        </div>
    </div>

    <div class="calendar-grid days-header">
        <div class="day-label"></div>
        @for (day of daysOfWeek; track day) {
            <div class="day-label">{{ "day." + day | translate }}</div>
        }
    </div>

    <div class="calendar-grid days-grid" (mouseleave)="onGridMouseLeave()">
        @for (cell of calendarCells(); track cell.id) {
            @if (cell.isWeekNum) {
                <div class="calendar-cell week-number-cell">
                    {{ cell.numValue }}
                </div>
            }
            @else {
                <div
                    class="calendar-cell"
                    [class.filler]="!cell.isCurrentMonth"
                    [class.filler-start]="cell.isFillerStart"
                    [class.filler-end]="cell.isFillerEnd"
                    [class.disabled]="cell.isDisabled"
                    [class.in-range]="cell.isInDragRange"
                    [class.range-start]="cell.isRangeStart"
                    [class.range-end]="cell.isRangeEnd"
                    [class.active]="cell.isSelected"
                    (mousedown)="onMouseDown(cell, $event)"
                    (mouseenter)="onMouseEnter(cell)"
                >
                    <span class="cell-number">{{ cell.numValue }}</span>
                </div>
            }
        }
    </div>
</div>
