@let id = testId();
<div class="calendar-container">
    <div class="calendar-header">
        <div class="prev">
            @if (canGoPrev()) {
                <btn icon="chevron-left"
                     [attr.data-testid]="id + '-prev-month'"
                     (click)="prevMonth()"></btn>
            }
        </div>
        <div class="header-label">
            @let month = currentMonth();
            <span [attr.data-testid]="id + '-month'"
                  [attr.data-value]="month">
                {{ "month." + months[month] | translate }}
            </span>
            @let year = currentYear();
            <span [attr.data-testid]="id + '-year'"
                  [attr.data-value]="year">
                {{ year }}
            </span>
        </div>
        <div class="next">
            @if (canGoNext()) {
                <btn icon="chevron-right"
                     [attr.data-testid]="id + '-next-month'"
                     (click)="nextMonth()"></btn>
            }
        </div>
    </div>

    <div class="calendar-grid days-header">
        <div class="day-label"></div>
        @for (day of daysOfWeek; track day) {
            <div class="day-label">{{ "day." + day | translate }}</div>
        }
    </div>

    <div class="calendar-grid days-grid" (mouseleave)="onGridMouseLeave()">
        @for (cell of calendarCells(); track cell.id) {
            @if (cell.isWeekNum) {
                <div class="calendar-cell week-number-cell"
                     [attr.data-testid]="cell.id">
                    {{ cell.numValue }}
                </div>
            }
            @else {
                <div
                    class="calendar-cell"
                    [class.filler]="!cell.isCurrentMonth"
                    [class.filler-start]="cell.isFillerStart"
                    [class.filler-end]="cell.isFillerEnd"
                    [class.disabled]="cell.isDisabled"
                    [class.in-range]="cell.isInDragRange"
                    [class.range-start]="cell.isRangeStart"
                    [class.range-end]="cell.isRangeEnd"
                    [class.active]="cell.isSelected"
                    [attr.data-testid]="cell.id"
                    (mousedown)="onMouseDown(cell, $event)"
                    (mouseenter)="onMouseEnter(cell)"
                >
                    <span class="cell-number">{{ cell.numValue }}</span>
                </div>
            }
        }
    </div>
</div>
