.chips {

    --chips-border-size: var(--border-size, 1px);
    --chips-border-radius: var(--border-radius, 5px);
    --chips-bg-color: var(--bg-color, #ffffff);
    --chips-border-color: var(--border-color, #ced4da);
    --chips-text-color: var(--text-color, #151515);
    --chips-text-size: var(--text-size, 16px);
    --chips-padding-vertical: 6px;
    --chips-padding-horizontal: 12px;
    --chips-padding: var(--chips-padding-vertical) var(--chips-padding-horizontal);
    --chips-btn-padding: 12px;
    --chips-btn-gap: calc(var(--chips-btn-padding) / 2);
    --chips-btn-color: white;
    --chips-btn-valid-color: rgba(200, 255, 200, 0.7);
    --chips-btn-invalid-color: rgba(255, 200, 200, 0.7);

    position: relative;
    margin: 5px 0;
    font-size: var(--chips-text-size);
    padding: var(--chips-padding);

    background: var(--chips-bg-color);
    color: var(--chips-text-color);
    border: var(--chips-border-size) solid var(--chips-border-color);
    border-radius: var(--chips-border-radius);

    * {
        box-sizing: border-box;
    }

    &.disabled {
        opacity: .75;
    }

    .chips-input {
        background: var(--chips-bg-color);
        padding: var(--chips-padding);
        font-size: var(--chips-text-size);
        outline: none;
        border: none;
        width: 100%;
        user-select: none;
        font-weight: normal;
    }

    .chips-buttons {
        position: absolute;
        top: var(--chips-padding-vertical);
        left: var(--chips-padding-horizontal);
        max-width: calc(100% - var(--chips-padding-horizontal) * 2);
        display: flex;
        gap: 5px;
        overflow: auto;
        border-radius: var(--chips-border-radius);
    }

    .chips-button {
        background: var(--chipd-btn-color);
        color: var(--chips-text-color);
        border: var(--chips-border-size) solid rgba(0, 0, 0, .2);
        border-radius: var(--chips-border-radius);
        padding: var(--chips-padding-vertical) var(--chips-btn-padding);
        user-select: none;
        font-weight: normal;
        outline: none;
        display: flex;
        gap: var(--chips-btn-gap);
        justify-content: center;
        align-items: center;
        line-height: 1.2rem;
    }

    .chips-button.chips-valid {
        --chipd-btn-color: var(--chips-btn-valid-color)
    }

    .chips-button.chips-invalid {
        --chipd-btn-color: var(--chips-btn-invalid-color)
    }

    .chips-picture {
        width: 28px;
        height: 28px;
        overflow: hidden;
        margin-right: 5px;

        img {
            max-height: 100%;
        }
    }

    .chips-label {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .chips-remove {
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        margin-right: calc(var(--chips-btn-gap) * -1);
        width: 1.2rem;
        height: 1.2rem;
        font-size: 12px;
        cursor: pointer;
        border-radius: 5px;
    }

    .chips-remove:after {
        content: "✖";
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

.select-option {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .select-option-picture {
        width: 32px;
        height: 32px;
        overflow: hidden;

        img {
            max-height: 100%;
        }
    }

    .select-option-label {
        flex: 1;
    }
}
