.chips {

    --chips-border-size: var(--border-size, 1px);
    --chips-border-radius: var(--border-radius, 5px);
    --chips-top-border-radius: var(--chips-border-radius) var(--chips-border-radius) 0 0;
    --chips-bottom-border-radius: 0 0 var(--chips-border-radius) var(--chips-border-radius);
    --chips-bg-color: var(--bg-color, #ffffff);
    --chips-border-color: var(--border-color, #ced4da);
    --chips-highlight-color: var(--highlight-color, var(--primary-color, #888888));
    --chips-highlight-text-color: var(--highlight-text-color, #ffffff);
    --chips-text-color: var(--text-color, #151515);
    --chips-text-size: var(--text-size, 16px);
    --chips-padding-vertical: 6px;
    --chips-padding-horizontal: 12px;
    --chips-padding: var(--chips-padding-vertical) var(--chips-padding-horizontal);
    --chips-btn-padding: 12px;
    --chips-btn-gap: calc(var(--chips-btn-padding) / 2);
    --chips-btn-color: white;
    --chips-btn-valid-color: rgba(200, 255, 200, 0.7);
    --chips-btn-invalid-color: rgba(255, 200, 200, 0.7);

    position: relative;
    margin: 5px 0;
    font-size: var(--chips-text-size);
    padding: var(--chips-padding);

    background: var(--chips-bg-color);
    color: var(--chips-text-color);
    border: var(--chips-border-size) solid var(--chips-border-color);
    border-radius: var(--chips-border-radius);

    * {
        box-sizing: border-box;
    }

    .chips-input {
        background: var(--chips-bg-color);
        padding: var(--chips-padding);
        font-size: var(--chips-text-size);
        outline: none;
        border: none;
        width: 100%;
        user-select: none;
        font-weight: normal;
    }

    .chips-buttons {
        position: absolute;
        top: var(--chips-padding-vertical);
        left: var(--chips-padding-horizontal);
        max-width: calc(100% - var(--chips-padding-horizontal) * 2);
        display: flex;
        gap: 5px;
        overflow: auto;
        border-radius: var(--chips-border-radius);
    }

    .chips-button {
        background: var(--chipd-btn-color);
        color: var(--chips-text-color);
        border: var(--chips-border-size) solid rgba(0, 0, 0, .2);
        border-radius: var(--chips-border-radius);
        padding: var(--chips-padding-vertical) var(--chips-btn-gap) var(--chips-padding-vertical) var(--chips-btn-padding);
        user-select: none;
        font-weight: normal;
        outline: none;
        display: flex;
        gap: var(--chips-btn-gap);
        justify-content: center;
        align-items: center;
        line-height: 1.2rem;
        text-decoration: none;
    }

    .chips-button.chips-valid {
        --chipd-btn-color: var(--chips-btn-valid-color)
    }

    .chips-button.chips-invalid {
        --chipd-btn-color: var(--chips-btn-invalid-color)
    }

    img.chip-picture {
        width: 28px;
        height: 28px;
        object-fit: cover;
    }

    .chips-label {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.disabled {
        opacity: .75;

        .chips-button {
            padding-right: var(--chips-btn-padding);
        }
    }
}

.chips-dropdown:not(:empty) {

    position: relative;
    z-index: 1;
    width: var(--toggle-width, 0);
    display: flex;
    flex-direction: column;
    margin: -3px 0;
    padding: 0;
    list-style: none;
    border: var(--chips-border-size) solid var(--chips-border-color);
    background: var(--chips-bg-color);
    border-radius: var(--chips-bottom-border-radius);
    overflow: hidden;

    * {
        box-sizing: border-box;
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 6px 12px;
        user-select: none;
        text-align: left;
    }

    button:hover, button.active {
        background-color: var(--chips-highlight-color);
        color: var(--chips-highlight-text-color);

        a {
            color: var(--chips-highlight-text-color);
        }
    }

    .select-option {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;

        .select-option-picture {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        .select-option-label {
            flex: 1;
        }
    }
}

.dropdown-placement-top {
    .chips-dropdown {
        border-radius: var(--chips-top-border-radius);
    }
}
