<ng-template let-keyPrefix="keyPrefix" let-key="item.key" let-isArray="isArray" #defaultKeyTemplate>
    {{ (keyPrefix ? keyPrefix + key : key) | translate }}:
</ng-template>
<ng-template let-keyPrefix="keyPrefix" let-listStyle="listStyle" let-val="item.value" let-path="path"
             let-templates="templates" let-isObject="valueIsObject" let-isArray="valueIsArray" #defaultValueTemplate>
    <ng-template #value>
        <span [innerHTML]="val"></span>
    </ng-template>
    <unordered-list [data]="val"
                    [keyPrefix]="keyPrefix"
                    [listStyle]="listStyle"
                    [path]="path"
                    [level]="level + 1"
                    [templates]="templates"
                    *ngIf="(isObject || isArray); else value"></unordered-list>
</ng-template>
<ng-template let-item="item" let-data="data" let-keyPrefix="keyPrefix" let-listStyle="listStyle" let-path="path" let-level="level" let-templates="templates" #defaultItemTemplate>
    <ng-template #itemKey>
        <ng-container [unorderedListItem]="item"
                      type="key"
                      [data]="data"
                      [keyPrefix]="keyPrefix"
                      [listStyle]="listStyle"
                      [path]="path"
                      [level]="level"
                      [templates]="templates"
                      [defaultTemplates]="defaultTemplates"></ng-container>
    </ng-template>
    <ng-template #itemValue>
        <ng-container [unorderedListItem]="item"
                      type="value"
                      [data]="data"
                      [keyPrefix]="keyPrefix"
                      [listStyle]="listStyle"
                      [path]="path"
                      [level]="level"
                      [templates]="templates"
                      [defaultTemplates]="defaultTemplates"></ng-container>
    </ng-template>
    <ng-container *ngIf="!isArray">
        <th *ngIf="listStyle == 'table'; else itemKey">
            <ng-container [ngTemplateOutlet]="itemKey"></ng-container>
        </th>
    </ng-container>
    <td *ngIf="listStyle == 'table'; else itemValue">
        <ng-container [ngTemplateOutlet]="itemValue"></ng-container>
    </td>
</ng-template>
<ng-template #value>
    <span [innerHTML]="data"></span>
</ng-template>
<ng-container *ngIf="(isObject || isArray); else value" [ngSwitch]="listStyle">
    <ul [ngClass]="'level-' + level" *ngSwitchCase="'list'">
        <li *ngFor="let item of data | entries" [ngClass]="item.classList">
            <ng-container [unorderedListItem]="item"
                          type="item"
                          [data]="data"
                          [keyPrefix]="keyPrefix"
                          [listStyle]="listStyle"
                          [path]="path ? path + '.' + item.key : item.key"
                          [level]="level"
                          [templates]="templates"
                          [defaultTemplates]="defaultTemplates"></ng-container>
        </li>
    </ul>
    <table [ngClass]="'level-' + level" *ngSwitchDefault>
        <tr *ngFor="let item of data | entries" [ngClass]="item.classList">
            <ng-container [unorderedListItem]="item"
                          type="item"
                          [data]="data"
                          [keyPrefix]="keyPrefix"
                          [listStyle]="listStyle"
                          [path]="path ? path + '.' + item.key : item.key"
                          [level]="level"
                          [templates]="templates"
                          [defaultTemplates]="defaultTemplates"></ng-container>
        </tr>
    </table>
</ng-container>
