.unordered-list {
    * {
        box-sizing: border-box;
    }
}

.list-enum {

    --enum-color: #c6c6c6;
    --enum-radius: 5px;

    span {
        display: inline-block;
        padding: 2px 5px;
        background: color-mix(in srgb, var(--enum-color), #ffffff75);
        border: 1px solid var(--enum-color);
        border-radius: var(--enum-radius);
        user-select: none;
        cursor: default;
    }
}
