$fonts: (
    baskerville: 'baskerville.ttf',
    garden-grown: 'garden-grown.ttf',
    helvetica-neue: 'helvetica-neue-bc.ttf',
    limon-script-bold: 'limon-script-bold.otf'
);

@each $name, $font in $fonts {
    @font-face {
        font-family: $name;
        src: url('./engraving/#{$font}') format("truetype");
        font-weight: normal;
        font-style: normal;
    }
}

body {
    font-family: Roboto, sans-serif;
}

.text-canvas {
    border: 1px solid green;
}

dynamic-table {
    margin: 20px auto;
    display: block;
    max-width: 800px;
}
