<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo"
         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>

<unordered-list [data]="data | remap:map:'null'" keyPrefix="test.">
    <ng-template type="value" selector="item.key == 'bigyo'">
        gdfgdf
    </ng-template>
</unordered-list>
<unordered-list [data]="map | keys"></unordered-list>


<div class="content">
    <ng-container *ngFor="let ring of manufacturing | entries; let y = index">
        <div class="top">
            <div class="top-left">
                <div class="ring-id">
                    {{ 'review.ringId' | translate }}
                    <div class="id">
                        {{ id }}
                    </div>
                    <div class="timestamp">
                        {{ date }}
                    </div>
                </div>
            </div>
            <div class="top-center">

            </div>

        </div>
        <div class="table-wrapper">
            <h1 [ngClass]="{'page-heading': y > 0}">{{ 'ring.' + ring.key | translate }}</h1>
            <ng-template #discValueTemplate let-key="key" let-value="data">
                <ng-template #numberValue>
                    <span>
                        &nbsp;{{ value | formatNumber:mmFormat:6 }}
                    </span>
                </ng-template>
                <span *ngIf="key.has('color', 'fineness', 'surface'); else numberValue">
                    &nbsp;{{ value }}
                </span>
            </ng-template>
            <ng-template #valueTemplate let-key="key" let-value="value">
                <ng-container [ngSwitch]="key">
                    <unordered-list keyPrefix="review."
                                    [data]="value | reverse"
                                    *ngSwitchCase="'discs'">
                    </unordered-list>
                    <ul *ngSwitchCase="'diamondPlacements'">
                        <li *ngFor="let placement of value">
                            <b>{{ 'review.x' | translate }}:</b> {{ placement.y | formatNumber:mmFormat:4 }}<br/>
                            <b>{{ 'review.y' | translate }}:</b> {{ -placement.x | formatNumber:mmFormat:4 }}<br/>
                            <b>{{ 'review.carat' | translate }}:</b> {{ placement.carat }} ct.
                        </li>
                    </ul>
                    <span *ngSwitchDefault>{{ value }}</span>
                </ng-container>
            </ng-template>
            <ng-container *ngFor="let chunk of reviewMap | filter:groupFilter:ring.value | chunk:3">
                <unordered-list [data]="chunk | remap: ring.value" keyPrefix="review.">
                    <ng-template type="item" selector="level == 0" let-item="item.value" let-keyPrefix="keyPrefix" let-path="path" let-templates="templates" let-defaultTemplates="defaultTemplates">
                        <span class="title">{{ keyPrefix + item.group | translate }}</span>
                        <ng-container [unorderedListItem]="{key: path, value: item.keys}"
                                      type="value"
                                      [data]="item"
                                      [keyPrefix]="keyPrefix"
                                      [path]="path"
                                      [level]="0"
                                      [templates]="templates"
                                      [defaultTemplates]="defaultTemplates"></ng-container>
                    </ng-template>
                </unordered-list>
            </ng-container>
        </div>
        <div class="page-break">
            &nbsp;
        </div>
    </ng-container>
</div>
