<div class="app-wrap">
    <interactive-canvas [width]="100" [height]="100" [beforeItems]="renderers">
        @for (rect of rects; track ix; let ix = $index) {
            <interactive-rect [position]="rect.center"
                              [width]="rect.width"
                              [height]="rect.height"
                              [rotation]="rect.rotation"
                              direction="free"></interactive-rect>
        }
        @for (circle of circles; track ix; let ix = $index) {
            <interactive-circle [position]="circle.center"
                                [radius]="circle.radius"
                                [rotation]="circle.rotation"
                                direction="free"></interactive-circle>
        }
    </interactive-canvas>
    <dynamic-table filterLabel="blab"
                   [itemsPerPage]="5"
                   [showFilter]="true"
                   [showItems]="[5, 10, 25, 50, 100]"
                   [data]="tableData" [columns]="tableColumns">
    </dynamic-table>
    <chips type="number" [(ngModel)]="numberChips" [min]="5"></chips>
    <chips [(ngModel)]="stringChips" [minLength]="5"></chips>
    <chips [(ngModel)]="stringChips" [disabled]="true" [minLength]="5"></chips>
    <chips [(ngModel)]="optionChips" [options]="options" [strict]="false"></chips>
    <upload [accept]="['jpg', 'png']" [disabled]="true" [multiple]="true" [(ngModel)]="assets"></upload>
    <upload [accept]="['jpg', 'png']" [disabled]="false" [multiple]="true" [(ngModel)]="assets"></upload>
    <upload [accept]="['jpg', 'png']" [disabled]="true" [multiple]="false" [(ngModel)]="asset"></upload>
    <upload [accept]="['jpg', 'png']" [disabled]="false" [multiple]="false" [(ngModel)]="asset"></upload>
    <wysiwyg [(ngModel)]="html"></wysiwyg>
    <textarea [(ngModel)]="html"></textarea>
    <unordered-list [data]="listData"></unordered-list>
</div>
