$border-color: #ddd;

.table-wrapper {
    clear: both;
    margin: 0 -10px;

    h1 {
        padding: 0 10px;
    }

    unordered-list {
        display: block;
        font-size: .95em;

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid $border-color;
                padding: 5px 8px;
            }

            th {
                width: 30%;
                text-overflow: ellipsis;
                vertical-align: top;
                text-align: left;
                overflow: hidden;
            }

            table {
                margin: -1px;
                width: calc(100% + 2px);
            }

            .is-object > td {
                padding: 0;
            }

        }
    }

    .level-0 {
        width: calc(50% - 20px);
        margin: 0 10px 20px 10px;
        float: left;
    }

    .page-break {
        clear: both;
    }

}
