<div class="date-picker"
     drop-down
     [closeInside]="false"
     [autoPlacement]="autoPlacement"
     [ngClass]="{disabled: disabled()}"
     #pickerDropdown="dropdown">
    <input class="date-picker-input"
           [type]="strict() ? 'date' : 'text'"
           [value]="inputValue()"
           (blur)="onBlur($event)"/>
    <div class="date-picker-buttons">
        @if (value()) {
            <btn type="transparent"
                 icon="close" (click)="clear()"></btn>
        }
        <btn type="transparent"
             icon="calendar-days" dropdownToggle></btn>
    </div>
    <div *dropdownContent>
        <calendar [min]="min()"
                  [max]="max()"
                  [disabledDates]="disabledDates()"
                  [disabledDays]="disabledDays()"
                  [disabled]="disabled()"
                  [strict]="strict()"
                  [value]="value()"
                  (valueChange)="onPickerChange($event)"></calendar>
    </div>
</div>
