<ng-template #columnTemplate let-context let-column="column" let-template="template">
    <ng-template #defaultTemplate let-column="column" let-item="item">
        <span>{{ item[column] == undefined || item[column] == null ? '-' : item[column] }}</span>
    </ng-template>
    <ng-template #pureTemplate>
        <ng-container [ngxTemplateOutlet]="template.ref" [context]="context"></ng-container>
    </ng-template>
    <td [ngClass]="'column-' + column"
        [attr.data-testid]="testId + '-' + column + '-' + context.rowIndex"
        *ngIf="!template || !template.pure; else pureTemplate">
        <ng-container [ngxTemplateOutlet]="!template ? defaultTemplate : template.ref"
                      [context]="context"></ng-container>
    </td>
</ng-template>

<ng-template #columnsTemplate let-context>
    <ng-container *ngFor="let column of cols"
                  [ngxTemplateOutlet]="columnTemplate"
                  [context]="context"
                  [additionalContext]="{
                            template: templates[column],
                            column: column
                          }"></ng-container>
</ng-template>

<ng-template #defaultRowTemplate let-context>
    <tr draggable="true"
        #elem
        [ngClass]="{active: selected === context.item}"
        (dragstart)="onDragStart($event, elem, context.item)"
        (dragenter)="onDragEnter($event, elem, context.item)"
        (dragleave)="onDragLeave($event, elem)"
        (drop)="onDrop($event, elem, context.item)">
        <ng-container [ngxTemplateOutlet]="columnsTemplate" [context]="context"></ng-container>
    </tr>
</ng-template>

<ng-template #headerTemplate let-column="column" let-toggle="toggle">
    <ng-template #defaultCol>
        <span>{{ realColumns[column].title | translate }}</span>
    </ng-template>
    <ng-template #emptyCol>
        <span>-</span>
    </ng-template>
    <ng-container *ngIf="realColumns[column]; else emptyCol">
        <a *ngIf="realColumns[column].sort; else defaultCol"
           [ngClass]="['sort', orderBy !== column ? '' : (orderDescending ? 'sort-desc' : 'sort-asc')]"
           (click)="setSorting(column, toggle)">
            <span>{{ realColumns[column].title | translate }}</span>
        </a>
    </ng-container>
</ng-template>

<div class="dynamic-table">
    <div class="table-features-row">
        <ng-content select="[table-features-before]"></ng-content>
        <div class="table-input-wrap table-search-filter" *ngIf="showFilter">
            <label *ngIf="filterLabel" [attr.for]="tableId">
                {{ filterLabel | translate }}
            </label>
            <input type="text"
                   class="search-input"
                   [attr.id]="tableId"
                   [attr.data-testid]="testId + '-filter-input'"
                   [placeholder]="placeholder | translate"
                   [ngModel]="filter"
                   (ngModelChange)="setFilter($event)"/>
        </div>
        <dropdown-box componentClass="sort-dropdown" #sortDd>
            <ng-container toggle-content
                          [ngTemplateOutlet]="headerTemplate"
                          [ngTemplateOutletContext]="{column: orderBy, toggle: sortDd}"></ng-container>
            <ul>
                <ng-container *ngFor="let column of cols">
                    <li [ngClass]="'sort-column sort-' + column" *ngIf="realColumns[column].sort">
                        <ng-container [ngTemplateOutlet]="headerTemplate"
                                      [ngTemplateOutletContext]="{column: column}"></ng-container>
                    </li>
                </ng-container>
            </ul>
        </dropdown-box>
        <div class="table-input-wrap table-items-count" *ngIf="showItems">
            <label>
                {{ 'label.items.before' | translate }}
            </label>
            <dropdown-box>
                <ng-container toggle-content>
                    {{ itemsPerPage }}
                </ng-container>
                <ul>
                    <ng-container *ngFor="let count of showItems">
                        <li [ngClass]="'item-count count-' + count" (click)="setItemsPerPage(count)">
                            {{ count }}
                        </li>
                    </ng-container>
                </ul>
            </dropdown-box>
            <label>
                {{ 'label.items.after' | translate }}
            </label>
        </div>
        <ng-content select="[table-features-after]"></ng-content>
    </div>
    <div class="table-content-row"
         #pagination="pagination"
         [pagination]="loadData"
         [page]="page"
         [itemsPerPage]="itemsPerPage"
         [updateTime]="updateTime">
        <pagination-menu [urlParam]="urlParam" [maxSize]="maxPages" [directionLinks]="directionLinks"
                         [boundaryLinks]="boundaryLinks"></pagination-menu>
        <div class="table-responsive">
            <ng-template #defaultWrapperTemplate>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th *ngFor="let column of cols" [ngClass]="'header-column column-' + column">
                            <ng-container [ngTemplateOutlet]="headerTemplate"
                                          [ngTemplateOutletContext]="{column: column}"></ng-container>
                        </th>
                    </tr>
                    <tr *ngIf="hasQuery">
                        <th *ngFor="let column of cols" [ngClass]="['column-' + column, 'filter-column']">
                            <ng-container *ngIf="realColumns[column].filter" [ngSwitch]="realColumns[column].filterType">
                                <ng-container *ngSwitchCase="'enum'">
                                    <ng-template #optionItem let-option="option">
                                        {{ (realColumns[column].enumPrefix ? realColumns[column].enumPrefix + '.' + option : option) | translate }}
                                    </ng-template>
                                    <dropdown-box componentClass="filter-box"
                                                  [ngClass]="'filter-box-' + column" [closeInside]="false">
                                        <ng-container toggle-content>
                                        <span class="toggle-placeholder" *ngIf="!query[column]">
                                            {{ realColumns[column].title | translate }}
                                        </span>
                                            <span [ngClass]="['option-' + option, column + '-option-' + option, option]"
                                                  *ngFor="let option of query[column] | values; let ix = index">
                                            <ng-container *ngIf="ix > 0">, </ng-container>
                                            <ng-container [ngTemplateOutlet]="optionItem"
                                                          [ngTemplateOutletContext]="{option: option}"></ng-container>
                                        </span>
                                        </ng-container>
                                        <ul>
                                            <li [ngClass]="[column + '-option', 'option-' + option, option]"
                                                (click)="setQueryValue(column, option)"
                                                *ngFor="let option of realColumns[column].enum">
                                                <a [ngClass]="'toggle-link-' + column">
                                                    <input type="checkbox" [checked]="query[column] | includes: option">
                                                    <ng-container [ngTemplateOutlet]="optionItem"
                                                                  [ngTemplateOutletContext]="{option: option}"></ng-container>
                                                </a>
                                            </li>
                                        </ul>
                                    </dropdown-box>
                                </ng-container>
                                <ng-container *ngSwitchCase="'checkbox'">
                                    <input type="checkbox"
                                           [attr.data-testid]="testId + '-filter-' + column"
                                           [placeholder]="realColumns[column].title | translate"
                                           [ngModel]="query[column]"
                                           (ngModelChange)="setQueryValue(column, $event)"/>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <input class="search-input"
                                           type="text"
                                           [attr.data-testid]="testId + '-filter-' + column"
                                           [placeholder]="realColumns[column].title | translate"
                                           [ngModel]="query[column]"
                                           (ngModelChange)="setQueryValue(column, $event)"/>
                                </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *paginationItem="let context"
                                  [ngxTemplateOutlet]="rowTemplate"
                                  [context]="context"
                                  [additionalContext]="this"></ng-container>
                    </tbody>
                </table>
            </ng-template>

            <div class="table-wrapper">
                <ng-content select="[table-top]"></ng-content>
                <ng-container [ngxTemplateOutlet]="wrapperTemplate || defaultWrapperTemplate"
                              [context]="this"></ng-container>
                <ng-content select="[table-bottom]"></ng-content>
            </div>
        </div>
        <pagination-menu [urlParam]="urlParam" [maxSize]="maxPages" [directionLinks]="directionLinks"
                         [boundaryLinks]="boundaryLinks"></pagination-menu>
    </div>
</div>
