.dynamic-table {

    --table-bg: transparent;
    --table-stripe-bg: rgba(210, 210, 210, 0.35);

    .table-filter {
        margin-bottom: 25px;
        display: flex;
        gap: 10px;

        > input {
            max-width: 400px;
        }
    }

    .table-wrapper {
        position: relative;
    }

    table.table {

        border-collapse: collapse;
        width: 100%;
        font-family: inherit;
        font-size: inherit;

        th {
            text-align: left;
        }

        td, th {
            text-align: left;
            padding: 6px 12px;
            border: 1px solid var(--border-color);
            vertical-align: middle;
        }

        &-sm {
            th,
            td {
                font-size: var(--font-size-sm);
                padding: 4px 6px;
            }
        }

        thead th {
            font-weight: 500;

            a {
                color: var(--text-color);
                cursor: pointer;
            }

            span {
                display: inline-block;
                vertical-align: middle;
            }

            .svg-icon {
                float: right;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        tbody tr td {
            background-color: var(--table-bg);
        }
    }

    .table-striped > tbody > tr:nth-of-type(odd) td {
        background-color: var(--table-stripe-bg);
    }
}
