<div class="dynamic-table" #pagination="pagination" [pagination]="loadData" [page]="page" [itemsPerPage]="itemsPerPage" [updateTime]="updateTime">
    <ng-template #defaultFilterTemplate let-table>
        <div class="table-search" *ngIf="table.showFilter">
            <label *ngIf="label" [attr.for]="tableId">{{ label | translate }}</label>
            <input type="text"
                   class="form-control"
                   [attr.id]="tableId"
                   [attr.data-testid]="testId + '-filter-input'"
                   [placeholder]="placeholder | translate"
                   [ngModel]="table.filter"
                   (ngModelChange)="table.setFilter($event)"/>
        </div>
    </ng-template>
    <ng-container [ngxTemplateOutlet]="filterTemplate || defaultFilterTemplate" [context]="this"></ng-container>
    <pagination-menu [urlParam]="urlParam" [maxSize]="maxPages" [directionLinks]="directionLinks" [boundaryLinks]="boundaryLinks"></pagination-menu>
    <div class="table-responsive">
        <ng-template #columnTemplate let-context let-column="column" let-template="template">
            <ng-template #defaultTemplate let-column="column" let-item="item">
                <span>{{ item[column] == undefined || item[column] == null ? '-' : item[column] }}</span>
            </ng-template>
            <ng-template #pureTemplate>
                <ng-container [ngxTemplateOutlet]="template.ref" [context]="context"></ng-container>
            </ng-template>
            <td [ngClass]="'column-' + column"
                [attr.data-testid]="testId + '-' + column + '-' + context.rowIndex" *ngIf="!template || !template.pure; else pureTemplate">
                <ng-container [ngxTemplateOutlet]="!template ? defaultTemplate : template.ref" [context]="context"></ng-container>
            </td>
        </ng-template>

        <ng-template #columnsTemplate let-context>
            <ng-container *ngFor="let column of cols"
                          [ngxTemplateOutlet]="columnTemplate"
                          [context]="context"
                          [additionalContext]="{
                            template: templates[column],
                            column: column
                          }"></ng-container>
        </ng-template>

        <ng-template #defaultRowTemplate let-context>
            <tr draggable="true"
                #elem
                (dragstart)="onDragStart($event, elem, context.item)"
                (dragenter)="onDragEnter($event, elem, context.item)"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event, elem, context.item)">
                <ng-container [ngxTemplateOutlet]="columnsTemplate" [context]="context"></ng-container>
            </tr>
        </ng-template>

        <ng-template #defaultWrapperTemplate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let column of cols" [ngClass]="'column-' + column">
                            <ng-template #defaultCol>
                                <span>{{ realColumns[column].title | translate }}</span>
                            </ng-template>
                            <a *ngIf="realColumns[column].sort; else defaultCol" (click)="setOrder(column)">
                                <span>{{ realColumns[column].title | translate }}</span>
                                <i *ngIf="orderBy == column"
                                   [icon]="orderDescending ? 'sort-desc' : 'sort-asc'"
                                   [ngClass]="orderBy == column ? (orderDescending ? 'sort-desc': 'sort-asc') : ''"></i>
                            </a>
                        </th>
                    </tr>
                    <tr *ngIf="hasQuery">
                        <th *ngFor="let column of cols" [ngClass]="['column-' + column, 'filter-column']">
                            <ng-container *ngIf="realColumns[column].filter">
                                <input class="form-control"
                                       [attr.data-testid]="testId + '-filter-' + column"
                                       [type]="realColumns[column].filterType || 'text'"
                                       [placeholder]="realColumns[column].title | translate"
                                       [ngModel]="query[column]"
                                       (ngModelChange)="updateQuery(column, $event)"/>
                            </ng-container>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *paginationItem="let context"
                                  [ngxTemplateOutlet]="rowTemplate"
                                  [context]="context"
                                  [additionalContext]="this"></ng-container>
                </tbody>
            </table>
        </ng-template>

        <ng-container [ngxTemplateOutlet]="wrapperTemplate || defaultWrapperTemplate"
                      [context]="this"></ng-container>
    </div>
    <pagination-menu [urlParam]="urlParam" [maxSize]="maxPages" [directionLinks]="directionLinks" [boundaryLinks]="boundaryLinks"></pagination-menu>
</div>
