.dynamic-table {

    --table-bg: transparent;
    --table-stripe-bg: rgba(210, 210, 210, 0.35);

    --border-size: 1px;
    --bg-color: #FFFFFF;
    --text-color: #151515;
    --highlight-color: var(--primary-color, #888888);
    --border-color: #ced4da;
    --display-toggle: none;

    --arrow-size: 6px;
    --arrow-rotation: 90;
    --arrow-space: calc(var(--arrow-size) * 0.5 + 1px);
    --arrow-color: #c6c6c6;

    a, span {
        white-space: nowrap;
        display: block;
    }

    .table-dropdown {

        position: relative;
        z-index: 2;

        &.sort-dropdown {
            display: none;
            --border-color: var(--highlight-color);
            --border-size: 2px;
        }

        .svg-icon {
            pointer-events: none;
        }

        .table-toggle {
            background: var(--bg-color);
            color: var(--text-color);
            border: var(--border-size) solid var(--border-color);
            border-radius: 5px;
            cursor: pointer;
            padding: .375rem .75rem;
            user-select: none;
            font-weight: normal;

            .toggle-placeholder {
                color: #495057;
            }
        }

        li {
            padding: .375rem .75rem;
            font-weight: normal;
        }

        ul {
            margin: -2px 0 0;
            padding: 0;
            list-style: none;
            position: absolute;
            z-index: 1;
            width: 100%;
            min-height: fit-content;
            border: var(--border-size) solid var(--border-color);
            border-radius: 0 0 5px 5px;
            overflow: hidden;
            display: none;
        }

        li {
            background: var(--bg-color);
            color: var(--text-color);
            cursor: pointer;
            padding-right: 8px;
        }

        &.sort-dropdown .table-toggle:hover, li:hover, li.active {
            background-color: var(--highlight-color);
            color: white;
        }
    }

    .table-dropdown.open {

        .table-toggle {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        ul {
            display: block;
        }
    }

    .table-responsive {
        overflow: hidden;
        overflow-x: auto;
    }

    .table-features-row:not(:empty) {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .table-input-wrap {
        display: flex;
        align-items: center;
        gap: 5px;

        > label {
            margin: 0;
        }

        > input {
            max-width: 400px;
        }
    }

    .table-wrapper {
        position: relative;
    }

    table.table {

        border-collapse: collapse;
        width: 100%;
        font-family: inherit;
        font-size: inherit;

        th {
            text-align: left;
        }

        td, th {
            text-align: left;
            padding: 6px 12px;
            border: 1px solid var(--border-color);
            vertical-align: middle;
        }

        &-sm {
            th,
            td {
                font-size: var(--font-size-sm);
                padding: 4px 6px;
            }
        }

        thead th {
            font-weight: 500;

            span {
                display: inline-block;
                vertical-align: top;
            }

            a {
                cursor: pointer;
                text-align: left;
            }

            .svg-icon {
                float: right;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            &.filter-column {
                text-align: center;
            }
        }

        tbody tr td {
            background-color: var(--table-bg);
        }

        tbody tr.active td {
            background-color: var(--highlight-color);
        }
    }

    .table-striped > tbody > tr:nth-of-type(odd) td {
        background-color: var(--table-stripe-bg);
    }

    .table-striped > tbody > tr:nth-of-type(odd).active td {
        background-color: var(--highlight-color);
    }

    table.table {
        table-layout: fixed;
    }

    a.sort, a.dropdown-link {
        position: relative;
        display: block;
        margin-right: calc(var(--arrow-size) * 2);
        user-select: none;

        &:before, &:after {
            content: '';
            position: absolute;
            transition: 0.2s ease;
            left: calc(100% + var(--arrow-size));
            top: calc(50% - var(--arrow-size));
            border-top: var(--arrow-size) solid transparent;
            border-bottom: var(--arrow-size) solid transparent;
            border-left: var(--arrow-size) solid var(--arrow-color);
        }

        &:before {
            transform: rotate(calc(var(--arrow-rotation) * -1deg)) translateX(var(--arrow-space));
        }

        &:after {
            transform: rotate(calc(var(--arrow-rotation) * 1deg)) translateX(var(--arrow-space));
        }

        &.sort-desc:before {
            --arrow-color: black;
        }

        &.sort-asc:after {
            --arrow-color: black;
        }
    }



    .normal-dropdown {

        a {
            &:before {
                display: none;
            }

            &:after {
                --arrow-color: black;
                --arrow-space: 0;
            }
        }

        &.open {
            --arrow-rotation: -90;
        }
    }
}
