.ui-tabs {

    --tabs-color: var(--primary-color, var(--bs-primary, var(--mat-sys-primary, #666666)));
    --tabs-border-radius: var(--border-radius, var(--mat-sys-corner-full, 5px));
    --tabs-bg: var(--tabs-color);
    --tabs-margin: 5px;
    --tabs-padding: 5px;

    display: flex;
    gap: 5px;
    margin: 0 0 var(--tabs-margin) 0;
    padding: var(--tabs-padding);
    position: relative;
    list-style-type: none;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--tabs-bg);
        border-radius: var(--tabs-border-radius);
        opacity: 0.25;
        z-index: 0;
    }

    li {
        position: relative;
        z-index: 1;
    }

    * {
        box-sizing: border-box;
    }
}

.ui-tabs.type-secondary {
    --tabs-color: var(--secondary-color, var(--bs-secondary, var(--mat-sys-secondary, #666666)));
}
