.ui-tabs {

    --tabs-bg: var(--primary-color, var(--bs-primary, #666666));
    --tabs-margin: 5px;
    --tabs-padding: 5px;

    display: flex;
    gap: 5px;
    margin: 0 0 var(--tabs-margin) 0;
    padding: var(--tabs-padding);
    position: relative;
    list-style-type: none;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--tabs-bg);
        opacity: 0.25;
        border-radius: 5px;
        z-index: 0;
    }

    li {
        position: relative;
        z-index: 1;
    }

    * {
        box-sizing: border-box;
    }
}

.ui-tabs.style-secondary {
    --tabs-bg: var(--secondary-color, var(--bs-secondary, #666666));
}
