@let tabList = tabs();
@let tabType = type();
@let tabSize = size();
@if (tabList.length) {
    <ul class="ui-tabs" [ngClass]="'type-' + tabType">
        @for (option of tabList; track option.value) {
            <li [ngClass]="option.className">
                <btn [label]="option.label"
                     [tooltip]="option.tooltip"
                     [icon]="option.icon"
                     [disabled]="option.disabled"
                     [type]="option.active ? tabType : 'transparent'"
                     [size]="tabSize"
                     (click)="select(option)"></btn>
            </li>
        }
    </ul>
}
<ng-content></ng-content>
